body {
    /* margin-top: 75px; */
    background-color: brown;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background-color: aqua;
    padding: 10px;
    border: solid;
}

img {
    width: 250px;
    height: 250px;
}