<!-- <a href="/home">home</a>
<a href="/character/my-fav-character">favorite characters</a>
<a href="/character/create">create character</a>
<a href="/character/my-characters">my created characters</a> -->